.footer{
    width: 100%;
    background-color: rgb(228, 197, 156);
    display: flex;
    justify-content: space-between;
    border-top: 2px solid maroon;
}
.footer__lista{
    display: flex;
    font-size: 1.5rem;
}
.footer__items{
    list-style-type: none;
    padding: 10px;
}
.footer__items a{
 text-decoration: none;
 color: maroon;
}
.footer__items a:hover{
    color: rgb(68, 2, 2);
}