@font-face {
    font-family: Asmoke;
    src: url(../assets/fonts/Alphasmoke-OOX6.ttf);
}
@font-face {
    font-family: Smokewoods;
    src: url(../assets/fonts/Smokeinthewoods-e5q6.otf);
}
@font-face {
    font-family: Datter;
    src: url(../assets/fonts/DattermatterBoldPersoinalUseRegular-GOxqg.ttf);
}
.text {
    font-family: Asmoke;
}
.text2 {
    font-family: Smokewoods;
    font-size: 42px;
}
.text3{
    font-family: Datter;
    font-size: 60px;

}
.text_justify {
    width: 60%;
    text-align: justify;
    padding: 25px;
    font-size: 1.25em;
}